// Place all the styles related to the Reviews controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.dropdown-btn {
  max-width: 50%;
  max-height: 50%;
  border-radius: 5px;
  background-color: transparent;
  border: none;
}

.write-review {
  background-color: whitesmoke;
  padding: 10px;
}

.reviews-show {
  background-color: transparent;
  border: 1px solid black;
  border-radius: 6px;
  padding: 20px;
  margin-top: 5px;
}