// Place all the styles related to the Reviews controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.btn {
  max-width: 50%;
  max-height: 50%;
  background-color: black;
}