// Web Colors
$base-color: #EAE7DE;
$base-color-variation-1: whitesmoke;
$base-color-variation-2: white;
$text-color-main: black;
$border-color:black;

.signed-in-content {
  background-color: $base-color;
  min-height: 100vh;
  padding-top: 50px;
}

.edit-area {
  margin: auto;
  max-width: 500px;
}

.signed-in-h6 {
  color: $text-color-main;
  padding-top: 50px;
}

.h6 {
  color: $base-color-variation-2;
}

.image-gallery {
  width: 370px;
  height: 100px;
}

.remove-img {
  background: none;
  border: none;
  position: absolute;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

.navbar-brand {
  color: $base-color-variation-2 !important;
}

.navbar-brand:hover {
  color: $base-color-variation-2 !important;
}

.nav-item {
  color: $base-color-variation-2 !important;
}

.nav-item:hover {
  color: $base-color-variation-2 !important;
  font-weight: bold;
}

.footer {
  padding-top: 20px;
}
