// Place all the styles related to the tripDetails controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

// Web Colors
$base-color: #EAE7DE;
$base-color-variation-1: whitesmoke;
$base-color-variation-2: white;
$text-color-main: black;
$border-color:black;

// CSS for content on trip details page.

h5, h6 {
  color: $text-color-main;
}

.signed-in-content {
  max-width: 1200px;
}

.description-show {
  margin: auto;
  text-align: justify;
  padding-top: 20px;
  padding-bottom: 20px;
}

.search-heading {
  padding-top: 20px !important;
  padding-bottom: 0px !important;
}

.filter-row {
  justify-content: center;
  align-items: center;
  padding-top: 0px !important;
  max-width: 70% !important;
  font-size: small !important;
}

.filter-btn {
  margin-top: 20px;
}

